@import "tailwindcss";

:root {
  /* light mode */
  --background: 255 255 255;   /* was default white */
  --foreground: 55 65 81;      /* gray-700 */
}

.dark {
  /* dark mode */
  --background: 55 65 81;      /* gray-700 */
  --foreground: 229 231 235;   /* gray-200 */
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
