@import "tailwindcss";

:root {
  /* light mode */
  --background: 245 247 250;     /* was default white */
  --foreground: 55 65 81;        /* gray-700 */
  --navbar-bg: 254 243 199;      /* amber-100 */
}

.dark {
  /* dark mode */
  --background: 55 65 81;        /* gray-700 */
  --foreground: 229 231 235;     /* gray-200 */
  --navbar-bg: 75 85 99;         /* gray-600 */
}

html {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

body {
  background-color: rgb(var(--background));
}

.navbar {
  background-color: rgb(var(--navbar-bg));

}
